.authForm {
  width: 100%;
  min-width: 400px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authForm > h1 {
  font-weight: 900;
  margin: 1rem 0;
}
.authForm > form {
  padding-bottom: 1rem;
}
.authForm__alert {
  position: absolute;

}
.authForm__section {
  width: 30%;
}
.authForm__image_container {
  border: 1px solid black;
  height: 100%;
  width: 30%;
}
.authForm__field {
  width: 60%;
  margin-top: 0.5rem;
}
.authForm__field > input {
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
  display: block;
  background-color: white;
  border-color: black;
  border-radius: 0.5rem;
}
.authForm__field > label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
.authForm__field > label:ul:not(:first-child) {
  float: right;
}
.authForm__container {
  width: 100vw;
  height: 100vh;
}

.back_button {
  position: absolute;
  top: -5rem;
  left: 2rem;
}