.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: red;
  color: white;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  transition: height 0.3s ease;
}
.dropdown__link:hover {
  color: white;
}
.dropdown__link:active > img {
  transform: rotate(180);
}
.dropdown__link > img {
  transition: all 0.3s ease-in-out;
}
.dropdown__item {
  height: 50px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  border-radius: 1rem;
}
.dropdown__item:hover {
  background-color: #f5f5f5;
}
.dropdown__icon_right {
  margin-left: auto;
}
.dropdown__menu {
  width: 100%;
}
.dropdown__menu_primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.dropdown__menu_primary-enter-active {
  transform: translateX(0);
  transition: transform 0.3s ease;
}
.dropdown__menu_primary-exit {
  position: absolute;
}
s .dropdown__menu_primary-exit-active {
  transform: translateX(-110%);
  transition: transform 0.3s ease;
}
.dropdown__menu_secondary-enter {
  transform: translateX(110%);
}
.dropdown__menu_secondary-enter-active {
  transform: translateX(0);
  transition: transform 0.3s ease;
}
.dropdown__menu_secondary-exit-active {
  transform: translateX(110%);
  transition: transform 0.3s ease;
}