

.sidebar {

    height: 100vh;
    background-color: white;
    width: 40%;
    transition: width 0.3s ease;
    position: fixed;
    overflow: hidden;


    &_collapsed {
  
        &-enter {
            width: 40%;
        
        }
  
        &-exit {
            width: 10%;
        }
    
    }

    &__header {
        padding: 0.5rem;
        height: 20%;
    }
}

