
.alert {
    width: 80%;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.65;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
  
  &__success {
    background-color: green;
  }
  &__error {
    background-color: red;
    }
  
  &__animation {
            
      &-enter {
          position: relative;
          transform: translateY(-50%);
      
      }

      &-enter-active {
          position: static;
          transform: translateY(0);
          transition: transform 0.3s ease;
      }

      &-exit {
          position: relative;
          display: none;

        }

      &-exit-active {
          transform: translateY(-50%);
          transition: transform 0.3s ease;
          display: none;
      }
  
  }
}



.closebtn {
  margin-left: 1rem;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: all ease-in-out 200ms;

  &:hover {
      color: black;
  }
}