.authForm {
    width: 100%;
    min-width: 400px;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
        font-weight: 900;
        margin: 1rem 0;
    }
    > form {
        padding-bottom: 1rem;

    }
    

    &__alert {
        position: absolute;

    }

    &__error {
        color: red;
        font-size: 0.8rem;        
    }



    &__success {
        color: green;
        font-size: 0.8rem;
    }

    &__image {

        &_container {
            border: 1px solid black;
            height: 100%;
            width: 30%;
        }

    }

    &__instructions {
        width: 60%;
        
        > span {
            padding-right: 0.2rem;
        }
    }



    &__field {
        width: 60%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    
        > label {
            display: block;
            font-size: 0.8rem;
            margin-bottom: 0.4rem;


            &:ul:not(:first-child) {

                float: right;
            }
        }
    }

    &__input {
        width: 100%;
        height: 2rem;
        font-size: 0.8rem;
        display: block;
        background-color: white;
        border-color: black;
        border-radius: 0.5rem;


        &:focus {
            outline: none;
            border-color: blue;
        }

        &_error {
            border-color: red;
        }

    }

    &__container {
    
        width: 100vw;
        height: 100vh;

        
    }

}



.back_button {
    position: absolute;
    top: -5rem;
    left: 2rem;
}
