// colors

// primary

$lightRed: hsl(356, 100%, 66%); // cta Text
$veryLightRed: hsl(355, 100%, 74%); // hover
$veryDarkBlue: hsl(208, 49%, 24%); // headlines

//neutral

$white: hsl(0, 0%, 100%); // text
$lightWhite: hsl(0, 0%, 90%);
$gray: hsl(0, 0%, 30%);
$mediumGray: hsl(0, 0%, 41%);
$grayishBlue: hsl(240, 2%, 79%); // footer Text
$veryDarkGreyishBlue: hsl(207, 13%, 34%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);

// font-sizes

$font-med: 1.125rem; // 18px
$font-sm: 0.875rem; // 14px
$font-xsm: 0.625;
$font-lg: 1.25rem; // 20px
$font-xl: 3.25rem; // 52px

// font-weights

$light: 18.75rem;
$heavy: 37.5rem